@using Microsoft.AspNetCore.Identity;
@model IEnumerable<PasswordViewModel>

@{
    Layout = "Layouts/_PanelLayout";
    ViewData["Title"] = "My Passwords";
}
@if (this.User?.Identity?.IsAuthenticated ?? false)
{

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <a asp-controller="Password" asp-action="Add" class="btn btn-primary text-white">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Password
                    </a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Website</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    @foreach (var pInfo in Model)
                                    {
                                        <tr>
                                            <td>@pInfo.Website</td>
                                            <th scope="row">@pInfo.Username</th>
                                            <td>@pInfo.Email</td>
                                            <td>@pInfo.Description</td>
                                            <td>
                                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-solid fa-key"></i></button>
                                                <a asp-action="Edit" asp-route-id="@pInfo.Id" class="btn btn-light"><i class="fa fa-solid fa-pen"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="12">No Passwords</td></tr>
                                }
                            </tbody>
                        </table>



                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-dark" id="exampleModalLabel">Enter pattern to view password</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="w-50 m-auto">
                                            <svg class="patternlock" id="lock" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                                <g class="lock-actives"></g>
                                                <g class="lock-lines"></g>
                                                <g class="lock-dots">
                                                    <circle cx="20" cy="20" r="2" />
                                                    <circle cx="50" cy="20" r="2" />
                                                    <circle cx="80" cy="20" r="2" />

                                                    <circle cx="20" cy="50" r="2" />
                                                    <circle cx="50" cy="50" r="2" />
                                                    <circle cx="80" cy="50" r="2" />

                                                    <circle cx="20" cy="80" r="2" />
                                                    <circle cx="50" cy="80" r="2" />
                                                    <circle cx="80" cy="80" r="2" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="submitBtn" class="btn btn-primary w-50 m-auto mb-2">See Password</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
}
else
{
    <h1>You will need to Log in Or Register</h1>
}
