    @using Microsoft.AspNetCore.Identity;
@model IEnumerable<PasswordViewModel>

@{
    Layout = "Layouts/_PanelLayout";
    ViewData["Title"] = "My Passwords";
}
@if (this.User?.Identity?.IsAuthenticated ?? false)
{

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <a asp-controller="Password" asp-action="Add" class="btn btn-primary text-white">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Password
                    </a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Website</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    @foreach (var pInfo in Model)
                                    {
                                        <tr>
                                            <td>@pInfo.Website</td>
                                            <th scope="row">@pInfo.Username</th>
                                            <td>@pInfo.Email</td>
                                            <td>@pInfo.Description</td>
                                            <td>
                                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-solid fa-key"></i></button>
                                                <a asp-action="Edit" asp-route-id="@pInfo.Id" class="btn btn-light"><i class="fa fa-solid fa-pen"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="12">No Passwords</td></tr>
                                }
                            </tbody>
                        </table>
                        <partial name="_PatternModal">
                </div>
            </div>
        </div>
    </div>
  </div>
}
else
{
    <h1>You will need to Log in Or Register</h1>
}
